.root {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1000px;
  grid-template-rows: auto 1fr;
}

.title-area {
  grid-column: 1 / -1;
  grid-row: 1;
}

.main-area{

}

.summary-area {

}
