<div class="root">
  <div class="title-area">
    <app-title [title]="title"></app-title>
  </div>

  <div class="main-area">
    <app-question-presenter
      *ngIf="!isQuizOver"
      [question]="currQuestion"
      (selectedAnswer)="userSelectAnswer($event)">
    </app-question-presenter>
    <app-quiz-over
    *ngIf="isQuizOver"
    [results]="results">
    </app-quiz-over>
  </div>

  <div class="summary-area">
    <app-summary [questions]="solvedQuestions"></app-summary>
  </div>
</div>



